<footer class="bg-dark py-4 mt-auto position-footer">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; Muzeum Historyczne w Lublinie 2023</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Prywatność</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Warunki</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" routerLink="/contact">Kontakt</a>
            </div>
        </div>
    </div>
</footer>