<main class="d-flex flex-column">
    <div class="flex-shrink-0">
        <section class="py-5">
            <div class="container px-5 my-5">
                <h1 class="fw-bolder text-center mb-4">Dostępne wystawy</h1>
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5" *ngFor="let exhibition of exhibitions">
                        <exhibition-tile [tileContent]="exhibition"></exhibition-tile>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>