<section class="py-5">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h1 class="fw-bolder">Multimedia</h1>
    </div>
    <div class="row gx-5">
      <div class="col-lg-6">
        <div class="position-relative mb-5 mb-lg-0">
          <a href="https://www.youtube.com/watch?v=jmRPe0z5kOo&ab_channel=ZamekKr%C3%B3lewskiwWarszawie-Muzeum">
            <img class="img-fluid rounded-3 mb-3" src="assets/film/janMtejko.jpg" width="600" height="400" alt="arodzaban"/>
          </a>
          <p class="h3 fw-bolder">Jan Matejko</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative mb-5 mb-lg-0">
          <a href="https://www.youtube.com/watch?v=uhAa_HVxsfg&ab_channel=PoznajeKraje">
            <img class="img-fluid rounded-3 mb-3" src="assets/film/Lublin.jpg" width="600" height="400" alt="Lublin"/>
          </a>
          <p class="h3 fw-bolder">Lublin - Przewodnik | Ciekawostki | Plan zwiedzania</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative mb-5 mb-lg-0">
          <a href="https://www.youtube.com/watch?v=PeZLHMP-ot0&ab_channel=OpowiemCihistori%C4%99">
            <img class="img-fluid rounded-3 mb-3" src="assets/film/beksiński.jpg" width="600" height="400" alt="beksinscy"/>
          </a>
          <p class="h3 fw-bolder">RODZINA BEKSIŃSKICH</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative mb-5 mb-lg-0">
          <a href="https://www.youtube.com/watch?v=QOOF0B7cG5I&ab_channel=RCAK">
            <img class="img-fluid rounded-3 mb-3" src="assets/film/Strój.jpg" width="600" height="400" alt="stroj"/>
          </a>
          <p class="h3 fw-bolder">Region Lubelski - tańce i strój krzczonowski</p>
        </div>
      </div>
    </div>
  </div>
</section>
