.font-small {
    font-size: 10px;
}

.font-medium {
    font-size: 12px;
}

.font-large {
    font-size: 16px;
}

.position-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; 
  }