<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" routerLink="/">
            <i class="bi fs-4 bi-buildings"></i>
            Muzeum Historyczne w Lublinie
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent, #navbarFontSetupContent"
            aria-controls="navbarSupportedContent navbarFontSetupContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/all-exhibitions">Wystawy</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about">Muzeum</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="price-list">Cennik</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact">Kontakt</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/faq">FAQ</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                        <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                        <li><a class="dropdown-item" href="portfolio-overview.html">Portfolio Overview</a></li>
                        <li><a class="dropdown-item" href="portfolio-item.html">Portfolio Item</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarFontSetupContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <div class="d-flex">
                    <li class="nav-item me-3">
                        <button class="btn btn-outline-light" href="#!">
                            <i class="fa fa-adjust" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-outline-light font-small"
                                (click)="fontService.setGlobalFontSize(fontSizeEnum.Default)">A</button>
                            <button class="btn btn-outline-light font-medium"
                                (click)="fontService.setGlobalFontSize(fontSizeEnum.Medium)">A<sup>+</sup></button>
                            <button class="btn btn-outline-light font-large"
                                (click)="fontService.setGlobalFontSize(fontSizeEnum.Large)">A<sup>++</sup></button>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>