.card-adjust {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.list-unstyled.mb-0 {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.list-unstyled.mb-0 li {
    display: flex;
    align-items: baseline;
}

.list-unstyled.mb-0 li i {
    margin-right: 5px;
}

.line-through {
    text-decoration: line-through;
}