<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Modern Business - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <div class="tytul"><h2>Wystawa twórczości malarskiej</h2></div>
  <div class="obraz1">
    <img src="./assets/obrazy/test1.jpg" alt="Girl in a jacket" width="240" height="300">
    <figcaption class="text_obraz_1">Zdzisław Beksiński "ES"</figcaption>
  </div>
  <div class="obraz2">
    <img src="./assets/obrazy/test2.jpg" alt="Girl in a jacket" width="200" height="100">
    <figcaption class="text_obraz_2">Vincent van Gogh "Gwiaździsta noc"</figcaption>
  </div>
  <div class="obraz3">
    <img src="./assets/obrazy/test3.jpg" alt="Girl in a jacket" width="320" height="210">
    <figcaption class="text_obraz_3">Vincent van Gogh "Gwiaździsta noc nad Rodanem"</figcaption>
  </div>
  <div class="obraz4">
    <img src="./assets/obrazy/test4.jpg" alt="Girl in a jacket" width="200" height="360">
    <figcaption class="text_obraz_4">Edwarda Muncha "Krzyk"</figcaption>
  </div>
  <div class="obraz5">
    <img src="./assets/obrazy/test5.jpg" alt="Girl in a jacket" width="100" height="160">
    <figcaption class="text_obraz_5">Leonardo Da Vinci "Ręce twórcze"</figcaption>
  </div>
  <div class="obraz6">
    <img src="./assets/obrazy/test6.jpg" alt="Girl in a jacket" width="500" height="320">
    <figcaption class="text_obraz_6"> Zdzisława Beksińskiego "Ogniska na kominach"</figcaption>
  </div>
  <div class="obraz7">
    <img src="./assets/obrazy/test7.jpg" alt="Girl in a jacket" width="480" height="360">\
    <figcaption class="text_obraz_7"> Zdzisława Beksińskiego "AA80"</figcaption>
  </div>
  <div class="obraz8">
    <img src="./assets/obrazy/test8.jpg" alt="Girl in a jacket" width="330" height="220">
    <figcaption class="text_obraz_8"> Zdzisława Beksińskiego "AA83"</figcaption>
  </div>
  <div class="obraz9">
    <img src="./assets/obrazy/test9.jpg" alt="Girl in a jacket" width="120" height="100">
    <figcaption class="text_obraz_9">Leonardo da Vinci "Dama z gronostajem"</figcaption>
  </div>
  <div class="obraz10">
    <img src="./assets/obrazy/test10.jpg" alt="Girl in a jacket" width="900" height="210">
    <figcaption class="text_obraz_10">Jan Matejko "Bitwa pod Grunwaldem"</figcaption>
  </div>
  <div class="obraz11">
    <img src="./assets/obrazy/test11.jpg" alt="Girl in a jacket" width="160" height="260">
    <figcaption class="text_obraz_11">Marta Zawadzka "Narew" </figcaption>
  </div>
</main>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
