<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Modern Business - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <div class="tytul"><h2>Wystawa antycznych waz</h2></div>
  <div class="obraz1">
    <img  src="./assets/dzbany/dzban1.jpg" alt="Girl in a jacket" class="highlight" width="450" height="650">
    <p><p>
    <figcaption class="text_obraz_1">Dzbanuszek glazurowany</figcaption>
  </div>
  <div class="obraz2">
    <img src="./assets/dzbany/dzban2.jpg" alt="Girl in a jacket" width="200" height="200">
    <figcaption class="text_obraz_2">Miniaturowe naczynie</figcaption>
  </div>
  <div class="obraz3">
    <img src="./assets/dzbany/dzban3.jpg" alt="Girl in a jacket" width="320" height="210">
    <figcaption class="text_obraz_3">Ceramiczne naczynie o cylindrycznym kształcie</figcaption>
  </div>
  <div class="obraz4">
    <img src="./assets/dzbany/dzban4.jpg" alt="Girl in a jacket" width="200" height="360">
    <figcaption class="text_obraz_4">Dziecięcy kubek do pojenia</figcaption>
  </div>

  <div class="obraz11">
    <img src="./assets/dzbany/dzban6.jpg" alt="Girl in a jacket" width="250" height="260">
    <figcaption class="text_obraz_6"> Półmisek z epigraficznym ornamentem "naskh" na białym tle</figcaption>
  </div>
  <div class="obraz7">
    <img src="./assets/dzbany/dzban7.jpg" alt="Girl in a jacket" width="270" height="200">
    <figcaption class="text_obraz_7">Dzban malowany</figcaption>
  </div>
  <div class="obraz8">
    <img src="./assets/dzbany/dzban8.jpg" alt="Girl in a jacket" width="330" height="200">
    <figcaption class="text_obraz_8">Kubek glazurowany</figcaption>
  </div>
  <div class="obraz6">
    <img src="./assets/dzbany/dzban9.jpg" alt="Girl in a jacket" width="270" height="260">
    <figcaption class="text_obraz_11">Dzbanek z rączką angobowany na czerwono</figcaption>
  </div>
  <div class="obraz10">
    <img src="./assets/dzbany/dzban10.jpg" alt="Girl in a jacket" width="270" height="260">
    <figcaption class="text_obraz_11">Glazurowany dzban </figcaption>
  </div>
</main>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>

