<main class="flex-shrink-0">
    <header class="py-5 museum-background">
        <div class="container px-5 header-container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xxl-12">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3 text-white">O muzeum</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="py-5">
        <div class="container px-5 ">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xxl-12">
                    <div class="text-center my-5">
                        <p class="lead fw-normal text-muted mb-4"> Muzeum Historyczne w Lublinie to miejsce, które
                            przechowuje bogactwo dziedzictwa kulturowego z różnych epok. W naszej kolekcji znajdują się
                            różnorodne eksponaty z różnych epok historycznych. Obejmuje to między innymi antyczne wazy,
                            tradycyjne stroje z różnych regionów świata, a także cenne dzieła malarskie.
                            Naszym założycielem i jednocześnie patronem Muzeum Historycznego w Lublinie jest prof.
                            Andrzej Nowakowski, wybitny historyk sztuki, który przez lata zbierał artefakty
                            z różnych części świata, pragnąc zachować ich historię dla przyszłych pokoleń.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 bg-light" id="scroll-target">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0"
                        src="../../assets/andrzej-nowakowski.jpg" alt="Fotografia profesora Andrzeja Nowakowskiego" />
                </div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Historia powstania muzeum</h2>
                    <p class="lead fw-normal text-muted mb-0">
                        Historia Muzeum Historycznego w Lublinie sięga głęboko w przeszłość, sięgając roku 1995, kiedy
                        to grupa entuzjastów historii, pod przywództwem profesora Andrzeja Nowakowskiego, postanowiła
                        stworzyć przestrzeń dedykowaną
                        eksponowaniu i zachowaniu dziedzictwa ludzkości.
                    </p>
                    <p class="lead fw-normal text-muted mb-0">
                        Początki muzeum były skromne – pomieszczenia były wąskie, a kolekcja ograniczona.
                        Profesor Nowakowski podróżował po całym świecie, nawiązując kontakty z kolekcjonerami, muzeami
                        oraz instytucjami kultury, co z czasem wzbogaciło zbiory.
                    </p>
                    <p class="lead fw-normal text-muted mb-0">
                        W ciągu kilku lat muzeum stało się jednym z najważniejszych miejsc
                        kulturalnych w regionie. Kolekcja rozwijała się dynamicznie, obejmując antyczne rzeźby,
                        tradycyjne stroje z odległych
                        krajów, unikalne rękopisy, a także cenione dzieła sztuki malarskiej.
                    </p>
                    <p class="lead fw-normal text-muted mb-0">
                        Dzięki staraniom profesora Nowakowskiego oraz oddanej grupie pracowników i wolontariuszy muzeum
                        stale się rozbudowywało. Zyskało uznanie nie tylko lokalnej społeczności, ale także miłośników
                        historii
                        z całego kraju i zagranicy. Współpraca z renomowanymi instytucjami kultury umożliwiła
                        organizowanie wybitnych wystaw oraz interaktywnych wydarzeń edukacyjnych.
                    </p>
                    <p class="lead fw-normal text-muted mb-0">
                        Dzisiaj, Muzeum Historyczne w Lublinie jest symbolem miasta, stanowiącym nie tylko miejsce w
                        którym przechowuje się cenne artefakty, ale także centrum edukacyjne, które inspiruje, edukuje i
                        przekazuje wiedzę o historii i kulturze ludzkości kolejnym pokoleniom.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                        src="../../assets/museum-education.jpg" alt="Jedna z misji muzeum - edukcaja młodych pokoleń" /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Cele i misje</h2>
                    <p class="lead fw-normal text-muted mb-0">Nasza misja obejmuje nie tylko ochronę, dokumentowanie i
                        prezentowanie dziedzictwa historycznego i kulturowego, lecz także aktywne zaangażowanie
                        społeczności lokalnej i edukację młodych pokoleń.
                        Wierzymy, że poprzez eksponowanie różnorodnych artefaktów, organizowanie interaktywnych wydarzeń
                        i programów edukacyjnych, możemy inspirować do odkrywania przeszłości oraz kształtować
                        świadomość historyczną.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>