<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Modern Business - Start Bootstrap Template</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Najczęściej zadawane pytania</h1>
      </div>
      <div class="row gx-5">
        <div class="col-xl-8">
          <h2 class="fw-bolder mb-3">Informacje dla szkół</h2>
          <div class="accordion mb-5" id="accordionExample">
            <!-- Pierwsza pozycja akordeonu -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                  Jak możemy zarezerwować wizytę grupy szkolnej w muzeum?
                </button>
              </h3>
              <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Wizyty grup szkolnych wymagają wcześniejszej rezerwacji. Prosimy o składanie zapytań rezerwacyjnych
                  poprzez nasz formularz online na stronie muzeum, kontaktując się bezpośrednio z działem obsługi
                  edukacyjnej pod numerem telefonu [numer telefonu] lub wysyłając wiadomość e-mail na adres
                  muzeum-szkola@contact.pl
                </div>
              </div>
            </div>
            <!-- Druga pozycja akordeonu -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwoSchool" aria-expanded="false" aria-controls="collapseTwoSchool">
                  Czy jest minimalna lub maksymalna liczba uczniów wymagana dla rezerwacji grupowej?
                </button>
              </h3>
              <div class="accordion-collapse collapse" id="collapseTwoSchool" aria-labelledby="headingTwo"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Tak, minimalna liczba uczniów dla rezerwacji grupowej to 10, a maksymalna to 50. Grupy większe niż
                  maksymalna liczba mogą być podzielone na mniejsze grupy, zgodnie z dostępnymi terminami.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingfor">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseforSchool" aria-expanded="false" aria-controls="collapseforSchool">
                  Czy opiekunowie grupy mają wstęp wolny?
                </button>
              </h3>
              <div class="accordion-collapse collapse" id="collapseforSchool" aria-labelledby="headingfor"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Tak, dla każdych 15 uczniów, jeden opiekun ma wstęp wolny. Dodatkowi opiekunowie mogą podlegać
                  normalnym stawkom biletów grupowych.
                </div>
              </div>
            </div>
            <!-- Trzecia pozycja akordeonu -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThreeSchool" aria-expanded="false" aria-controls="collapseThreeSchool">
                  Jakie są zasady odwołania rezerwacji?
                </button>
              </h3>
              <div class="accordion-collapse collapse" id="collapseThreeSchool" aria-labelledby="headingThree"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Odwołanie wizyty jest możliwe do 2 tygodnie przed planowanym terminem bez ponoszenia dodatkowych
                  kosztów. W przypadku późniejszego odwołania, może zostać nałożona opłata administracyjna.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card border-0 bg-light mt-xl-5">
            <div class="card-body p-4 py-lg-5">
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <div class="h6 fw-bolder">Masz więcej pytań?</div>
                  <p class="text-muted mb-4">
                    Skontaktuj się z nami
                    <br />
                    <a href="#!">support@domain.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <h2 class="fw-bolder mb-3">Dostępność i Udogodnienia</h2>
          <div class="accordion mb-5" id="accordionExample">
            <!-- Pierwsza pozycja akordeonu -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingTwoOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwoOne"
                        aria-expanded="true" aria-controls="collapseTwoOne">
                  Czy muzeum jest przystosowane dla osób niepełnosprawnych?
                </button>
              </h3>
              <div class="accordion-collapse collapse show" id="collapseTwoOne" aria-labelledby="headingTwoOne"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Muzeum jest w pełni przystosowane do potrzeb osób niepełnosprawnych. Oferujemy bezbarierowy dostęp do
                  wszystkich galerii i wystaw. Dostępne są windy, rampy oraz specjalnie przystosowane toalety. Osoby
                  poruszające się na wózkach inwalidzkich oraz ich opiekunowie mogą skorzystać z bezpłatnego wstępu.
                  Ponadto, na życzenie, możliwe jest wypożyczenie wózków inwalidzkich w punkcie informacyjnym.
                </div>
              </div>
            </div>
            <!-- Druga pozycja akordeonu -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingTwoTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwoTwoSchool" aria-expanded="false"
                        aria-controls="collapseTwoTwoSchool">
                  Czy w muzeum są szafki lub miejsce do przechowywania bagażu?
                </button>
              </h3>
              <div class="accordion-collapse collapse" id="collapseTwoTwoSchool" aria-labelledby="headingTwoTwo"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Tak, dla wygody naszych gości oferujemy szafki, które można wykorzystać do przechowania małych
                  przedmiotów, takich jak torebki, plecaki czy niewielkie torby podróżne. Prosimy pamiętać, że ze
                  względów bezpieczeństwa nie przyjmujemy dużego bagażu lub przedmiotów o niestandardowych wymiarach.
                  Szafki są dostępne w pierwszej kolejności dla osób, które pierwsze się zgłoszą, i mogą wymagać
                  depozytu zwrotnego.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingforTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseforTwoSchool" aria-expanded="false"
                        aria-controls="collapseforTwoSchool">
                  Jakie udogodnienia są dostępne dla rodzin z małymi dziećmi (np. przewijaki, wózki)?
                </button>
              </h3>
              <div class="accordion-collapse collapse" id="collapseforTwoSchool" aria-labelledby="headingforTwo"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Rozumiemy potrzeby rodzin odwiedzających muzeum z małymi dziećmi i oferujemy szereg udogodnień, aby
                  ich wizyta była jak najbardziej komfortowa. W toaletach znajdują się przewijaki, a na życzenie
                  dostępne są również wysokie krzesełka w kawiarni muzealnej. Dla rodzin z małymi dziećmi oferujemy
                  wózki, które można wypożyczyć bezpłatnie w punkcie informacyjnym - zachęcamy jednak do wcześniejszego
                  kontaktu w celu upewnienia się co do ich dostępności w dniu wizyty. Dodatkowo, w niektórych częściach
                  muzeum ustawione są kąciki zabaw, gdzie dzieci mogą bezpiecznie się bawić podczas wizyty.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <h2 class="fw-bolder mb-3">Zwiedzanie</h2>
          <div class="accordion mb-5" id="accordionExample">
            <!-- Pierwsza pozycja akordeonu -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingThreeOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThreeOne"
                        aria-expanded="true" aria-controls="collapseThreeOne">
                  Czy można fotografować eksponaty?
                </button>
              </h3>
              <div class="accordion-collapse collapse show" id="collapseThreeOne" aria-labelledby="headingThreeOne"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Tak, fotografowanie eksponatów jest dozwolone dla celów prywatnych, bez użycia flesza oraz statywów,
                  które mogłyby zakłócić doświadczenie innych gości lub zagrażać bezpieczeństwu naszych zbiorów. Prosimy
                  o szacunek do prywatności innych odwiedzających i nie wykonywanie zdjęć w strefach wyznaczonych jako
                  "Strefa bez fotografowania". Zdjęcia komercyjne, prasowe lub do użytku innego niż prywatny wymagają
                  uprzedniego uzyskania pozwolenia od administracji muzeum.
                </div>
              </div>
            </div>
            <!-- Druga pozycja akordeonu -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingThreeTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThreeTwoSchool" aria-expanded="false"
                        aria-controls="collapseThreeTwoSchool">
                  Czy w muzeum są dostępne audioprzewodniki?
                </button>
              </h3>
              <div class="accordion-collapse collapse" id="collapseThreeTwoSchool" aria-labelledby="headingThreeTwo"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Tak, oferujemy audioprzewodniki, które wzbogacą Twoje doświadczenie i pozwolą Ci dowiedzieć się więcej
                  o naszych wystawach. Audioprzewodniki dostępne są w różnych językach i można je wypożyczyć przy
                  głównym wejściu do muzeum za niewielką opłatą. Dla członków muzeum wypożyczenie audioprzewodnika jest
                  bezpłatne. Zachęcamy do wczesnego przybycia, ponieważ liczba urządzeń jest ograniczona.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingforThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseforThreeSchool" aria-expanded="false"
                        aria-controls="collapseforThreeSchool">
                  Jak długo średnio trwa wizyta w muzeum?
                </button>
              </h3>
              <div class="accordion-collapse collapse" id="collapseforThreeSchool" aria-labelledby="headingforThree"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Czas spędzony w muzeum może się różnić w zależności od indywidualnych zainteresowań, ale średnio
                  wizyta trwa około 1,5 do 3 godzin. Goście, którzy pragną dokładnie zapoznać się z każdą wystawą i
                  skorzystać z audioprzewodników, mogą planować dłuższy pobyt. Oczywiście, są Państwo mile widziani do
                  spędzenia u nas całego dnia, jeśli tylko pragną Państwo bardziej dogłębnego doświadczenia.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>
</body>
</html>
