<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Modern Business - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
          <div class="text-center mb-5">
            <h1 class="fw-bolder">Dane kontaktowe</h1>
            <h2 class="fw-bolder">Muzeum jakieś tam</h2>
            <div class="container mt-3">
              <div class="row">
                <div class="col-md-12">
                  <i class="fa fa-map" aria-hidden="true"></i> Adres : al. Zygmuntowskie 5 Lublin
                </div>
              </div>
            </div>
            <div class="container mt-3">
              <div class="row">
                <div class="col-md-12">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>Czynny od poniedziałku do piątku w godzinach 10.00-16.00
                </div>
              </div>
            </div>
            <div class="container mt-3">
              <div class="row">
                <div class="col-md-12">
                  <i class="fa fa-phone" aria-hidden="true"></i> Telefon: 997 213 779
                </div>
              </div>
            </div>
            <div class="container mt-3">
              <div class="row">
                <div class="col-md-12">
                  <i class="fa fa-envelope" aria-hidden="true"></i> Email: muzeum@pollub.pl
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row gx-5">
        <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="../../assets/Mapa.png" alt="" /></div>
      </div>
      <div class="text-center">
        <p class="text-muted mb-4">
          Mail odnośnie współpracy
          <br />
          <a href="#!">współpraca@wp.com</a>
        </p>
        <div class="h6 fw-bolder">Zobacz nas także na </div>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
      </div>
    </div>
  </section>
</main>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
