<main class="flex-shrink-0">
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
          <div class="text-center mb-5">
            <h1 class="fw-bolder mb-5">Dane kontaktowe</h1>
            <h3 class="fw-bolder mb-4">Muzeum Historyczne w Lublinie</h3>
            <div class="container mt-3">
              <div class="row">
                <div class="col-md-12">
                  <i class="fa fa-map" aria-hidden="true"></i> Adres: al. Zygmuntowskie 5 Lublin
                </div>
              </div>
            </div>
            <div class="container mt-3">
              <div class="row">
                <div class="col-md-12">
                  <i class="fa fa-clock-o" aria-hidden="true"></i><strong> Muzeum czynne od poniedziałku do piątku w godzinach 10.00-16.00</strong>
                </div>
              </div>
            </div>
            <div class="container mt-3">
              <div class="row">
                <div class="col-md-12">
                  <i class="fa fa-phone" aria-hidden="true"></i> Telefon: 997 213 779
                </div>
              </div>
            </div>
            <div class="container mt-3">
              <div class="row">
                <div class="col-md-12">
                  <i class="fa fa-envelope" aria-hidden="true"></i> Email: muzeum@pollub.pl
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row gx-5">
        <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="../../assets/Mapa.png" alt="Lokalizacja muzeum" /></div>
      </div>
      <div class="text-center">
        <p class="text-muted mb-4">
          Adres e-mail odnośnie współpracy
          <br />
          współpraca@wp.com
        </p>
        <div class="h6 fw-bolder">Zobacz nas także na </div>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
      </div>
    </div>
  </section>
</main>
